<!DOCTYPE html>
<html>
  <head>
    <title>照片墙</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    <div><%= JSON.stringify(photos) %></div>

    <div><%= photos %></div>

    <img src="<%= photos[1].path %>">
    

 
 
  </body>
</html>
